@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hero-image{
        padding-top:80px;
    }

    .hero-section {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row blocoSection justify-content-center align-items-center">
        <div class="col-md-6 pt-3 text-center">
            <div class="custom-file mb-4">
                <h1 class="display-4">Gerencie documentos de maneira rápida</h1>
                <p class="lead">Tenha controle sobre seus arquivos e realize conversões e armazenamento com praticidade.</p>
                <div>
                    <button type="button" asp-area="" asp-controller="Arquivos" asp-action="Index" class="btn btn-primary btn-lg mr-2">Gerenciar Arquivos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 hero-image text-center">
        <img class="img-fluid" src="./Imagens/inicioDocImage1.svg" alt="Imagem de exemplo">
    </div>
</div>